@charset "UTF-8";
@font-face { font-family: 'iconfont'; src: url("../fonts/iconfont.eot");  /* IE9*/ src: url("../fonts/iconfont.eot?#iefix") format("embedded-opentype"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype"), url("../fonts/iconfont.svg#iconfont") format("svg");  /* iOS 4.1- */ }
html { position: relative; min-height: 100%; -webkit-overflow-scrolling: touch; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-tap-highlight-color: transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, body, div, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, fieldset, legend, button, input, textarea, form, th, td { margin: 0; padding: 0; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
body, button, input, select, textarea { outline: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
address, cite, dfn, em, var, i { font-style: normal; }
body {  line-height: 120%; font-size: 14px; color: #4d4d4d; font-family: Arial,  sans-serif;}
small { font-size: 80%; }
ul, ol { list-style: none outside none; }
a { text-decoration: none; }
a:hover { text-decoration: none; outline: 0; }
a:active { text-decoration: none; outline: 0; }
a:focus { text-decoration: none; outline: 0; }
abbr[title], acronym[title] { border-bottom: 1px dotted; cursor: help; }
q:before, q:after { content: ''; }
mark { background-color: #ff0; color: #000; }
pre {  /**
    normal  默认。空白会被浏览器忽略。
    pre     空白会被浏览器保留。其行为方式类似 HTML 中的 <pre> 标签。
    nowrap  文本不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。
    pre-wrap  保留空白符序列，但是正常地进行换行。
    pre-line  合并空白符序列，但是保留换行符。
    inherit 规定应该从父元素继承 white-space 属性的值。
    */
white-space: pre-wrap; word-wrap: break-word; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
legend { display: none; border: 0; padding: 0; white-space: normal; }
fieldset, iframe { border: 0 none; }
img { border: 0 none; vertical-align: middle; -ms-interpolation-mode: bicubic; }
button, input, select, textarea { font-family: inherit; font-size: 100%; vertical-align: baseline; }
button, input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button;  /* 改正iOS设备中“input”类型表单样式不可用的问题 */ cursor: pointer;  /* 增强光标样式在input表单和其他表单的可用性和一致性 */ }
button[disabled], html input[disabled] { cursor: default;  /* 为禁用表单重设定默认光标样式 */ }
button::-moz-focus-inner, button::-moz-focus-outer, input::-moz-focus-inner, input::-moz-focus-outer { border: 0 none; padding: 0; margin: 0; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box;  /* 调整IE 8/9中尺寸属性设置为“内容框”的盒子模型 */ padding: 0;  /* 去除IE 8/9中的多余的外边距留白部分 */ }
input[type="search"] { -webkit-appearance: textfield;  /* 兼容Safari 5 and Chrome上 “searchfield” 上设置 “appearance”属性 */  /* 兼容Safari 5 and Chrome上 “border-box” 上设置 “box-sizing”属性 */
box-sizing: content-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none;  /* 去除OS X系统上Safari 5和Chrome中容器内边距和搜索取消按钮属性 */ }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
table {  /* 删除表格单元格之间的间距。 */
border-collapse: collapse; border-spacing: 0; }
strong { font-weight: normal; }
img { vertical-align: middle; }
.clearfix { zoom: 1; clear: both; height: 0; overflow: hidden; width: 100%; display: block; }
.clearfix:before, .clearfix:after { content: ""; display: block; height: 0; overflow: hidden; visibility: hidden; }
.fl { float: left; }
.fr { float: right; }
.mauto { float: inherit !important; margin-left: auto; margin-right: auto; }
fieldset { border: none; }
input::-webkit-input-placeholder { color: #bfbfbf; }
input:-ms-input-placeholder { color: #bfbfbf; }
input:-moz-placeholder { color: #bfbfbf; }
input::-moz-placeholder { color: #bfbfbf; }

/* 删除选中标签 */
.tag-checked-name {
    display:inline-block;
    position:relative;
    height: 24px;
    border-radius: 1px;
    color:#4abee0;
    font-size:12px;
    line-height:24px;
    padding:0 20px 0 8px;
    background-color: #f7fdff;
    border: solid 1px #4abee0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right:5px;
}
.tag-checked-name:first-of-type {
    margin-left: 0px;
}
.tag-checked-name em {
   display:block;
    position:absolute;
    top:5px;
    right:5px;
    width:13px;
    height: 13px;
    cursor:pointer;
    transform: rotate(45deg);
}
.tag-checked-name em:after {
    display:block;
    position:absolute;
    content:'';
    top:6px;
    width:13px;
    height:1px;
    background:#4abee0;
}
.tag-checked-name em:before {
    display:block;
    position:absolute;
    content:'';
    top:0px;
    left:5px;
    width:1px;
    height: 13px;
    background:#4abee0;
}